@import "./variables";
@import "./mediaqueries.scss";

* {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
    margin: 0;
    background-color: #c9c9c9;
    overflow-y: scroll;
}

.material-icons--light {
    color: white;
}

.input__container {
    max-width: 1300px;
    margin: 0 auto;
    .container__box {
        margin: 30px 10px 10px 10px;
        display: flex;
        .box__input {
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
            height: 52px;
            border: none;
            width: 100%;
            padding: 0 10px;
            font-size: 20px;
        }
        .box__search-button {
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
            border: none;
            width: 60px;
            background-color: $mainColor;
        }
    }
}

.logos {
    display: flex;
    align-items: center;
    background-color: $mainColor;
    padding: 10px;
    width: 100%;
    img {
        filter: brightness(0) invert(1);
        padding: 5px;
        width: 120px;
    }
}

.error__box,
.loading__box {
    margin: 10px;
}

.giphs {
    max-width: 1300px;
    margin: 0 auto;
    .giphs__box {
        margin: 5px;
        .box__giph {
            padding: 5px;
            width: 100%;
            img {
                width: 100%;
            }
        }
    }
}

@for $i from 1 through 7 {
    .placeholder_#{$i} {
        width: 100%;
        height: #{100 + floor(random() * ((300 - 100) + 1))}px;
        background-color: $mainColor;
    }
}
